.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.login-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-image img {
    width: 60%;
    height: auto;
}

.login-form {
    flex: 1;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.login-form h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.login-form h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #6c757d;
}

.form-group {
    margin-bottom: 1.5rem;
    text-align: left;
    margin-right: 25px;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.form-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 1rem;
}

button[type="submit"] {
    padding: 0.75rem;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    width: 375px;
    margin-left: -20px;
}

button[type="submit"]:hover {
    background-color: #333;
}
